click==8.1.2
Flask==2.1.1
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Werkzeug==2.1.1
zipp==3.8.0
nashpy==0.0.40
networkx==3.1
numpy==1.26.1
scipy==1.11.3
wrapt==1.15.0
deprecated==1.2.14
simpy==4.0.2
