<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: rgb(114, 114, 114);">

  <h2>Game Visualization</h2>

  <div class="var3_row">

    <div class="var3_column" style="background-color:#bbb;">
      <h2>Solution</h2>
      <p></p>
      <p>Attacker NE solution: {{solution[0]}}</p>
      <p>Defender NE solution: {{solution[1]}}</p>
      <p>Expected Attacker Utility: {{solution[2][0]}}</p>
      <p>Expected Defender Utility: {{solution[2][1]}}</p>
    </div>
    <div class="var3_column" style="background-color:#808080;">
      <h2>What does this mean?</h2>
        {% if solution[0][0] == 1 and solution[0][1] == 0 %}
        <p>The Attacker has a pure strategy of Active Attack.</p>
        {% elif solution[0][0] == 0 and solution[0][1] == 1 %}
        <p>The Attacker has a pure strategy of Passive Attack.</p>
        {% else %} 
        <p>The solution is a mixed strategy. The Attacker should be expected to use the Active Attack strategy
          {{solution[0][0]}} % of the time and the Passive Attack strategy {{solution}} % of the time.</p>
        {% endif %}
        
        {% if solution[1][0] == 1 and solution[1][1] == 0 %}
        <p>The Defender has a pure strategy of Defend Attack.</p>
        {% elif solution[1][0] == 0 and solution[1][1] == 1 %}
        <p>The Defend has a pure strategy of No Defense.</p>
        {% else %}
        <p>The Defender should be expected to use the Defend strategy
          {{solution[1][0]}} % of the time and the No Defense strategy {{solution}} % of the time.
        </p>
        {% endif %}
      
      
        
    </div>
    <table style="width: 40%; border: black;">
      <tr>
        <td></td>
        <td></td>
        <td colspan="2">Defender</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="width: 50%;">Defend</td>
        <td style="width: 50%;">No Defend</td>
      </tr>
      <tr>
        <td rowspan="2">Attacker</td>
        <td>Active</td>
        
        <td>{{solution[3][0]}} , {{solution[4][0]}}</td>
        <td >{{solution[3][1]}} , {{solution[4][1]}} </td>
      </tr>
      <tr>
        <td>Passive</td>
        
        <td>{{solution[3][2]}} , {{solution[4][2]}} </td>
        <td > {{solution[3][3]}} , {{solution[4][3]}}</td>
      </tr>
    </table>
    <h2>Click To go Home</h2>
    <form action="{{ url_for('home')}}" method="GET">
    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>
{{ prediction_text }}
</body>
</html>